{{ define "main"}}
{{/* <h1 class="intro-text"><em class="section-title animated work"><a href="/work/">{{ .Title }}</a></em></h1> */}}
{{/* <h1 class="project-section animated"><span class="category">{{ range .Params.categories }}<a href="/work/{{ . }}" >{{ . }} </a>{{ end }}</span><em><a href="/work/">Work</a></em></h1> */}}
{{ partial "sub-nav.html" . }}
<section class="grid">
	 {{ range .Pages }}
	 	{{ partial "proj-list-item.html" . }}
	 {{ end }}
</section>
{{/* [Work list template] */}}
{{end}}
