$base-font-family:    "futura-pt", Helvetica, Arial, sans-serif;

$display-font-family:   "futura-pt-condensed", Helvetica, Arial, sans-serif; /* font-weight: 800 */
$sans-bold-font-family: "eurostile", "futura-pt-bold", Helvetica, Arial, sans-serif; /* font-weight: 700 */
$sans-font-family:	    "eurostile", "futura-pt", Helvetica, Arial, sans-serif; /* book = 400, extra bold = 800*/
$serif-font-family:     "ff-ernestine-pro", "clarendon-urw", Georgia, Times, serif;
$logo-type-font:        "futura-pt", Helvetica, Arial, sans-serif;
$monospace-font:        "Courier New", Courier, monospace;

$font-weight-book: 			400;
$font-weight-bold:			700;
$font-weight-xtra-bold:		800;

$base-font-size:   18px;
$base-text-size:   $base-font-size * 0.888888888888889;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     20px;
$spacing-base:     12px;
$spacing-sm:       8px;
$spacing-lg:       20px;
$padding-base:     10px;
$padding-lg:       20px;

$text-color:       #3c3642;
$background-color: #f6f1ee;
$link-color: 	   #4c728f;//#157aa2;  //--#B05802;
$color-white:      #ffffff;

$color-yellow:     #fba824;//#fccb75;//#f8c94f;
$color-red:       #fc5b13;//#eb5e29;
$color-blue:       #4c728f;//#abc5cf;
$color-neutral:    #76706a;
$color-neutral-dark: #506C7C;

$grey-color:       #f6f1ee;//#ecf0f1;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;


$on-palm-min:      499px;
$on-palm-max:      499px;

$on-laptop-min:    500px;
$on-laptop-max:    1023px;

$on-desktop-min:   1024px;


$on-palm: 		   480px;
$on-laptop:        640px;
$on-desktop:       1024px;

/* CSS custom properties */
:root {
	--wrapperWidth: 100vw; // e.g. Must be a viewport unit or fixed valueundefined e.g. 100vwundefined or 1200px
	--gutter: 12px;
	--columns: 1;

	// And our aspect ratio:
	--ratioX: 1;
	--ratioY: 1;

	--rowHeight: calc((var(--wrapperWidth) - (var(--gutter))) / 1); //  where 4 is the number of columns and 3 is the number of gutters
}

// Mixins

//--Media queries
@mixin for-phone-only {
  @media (max-width: 567px) { @content; }
}
@mixin for-phone-up {
  @media (min-width: 568px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 1024px) { @content; }
}
@mixin for-desktop-narrow-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1400px) { @content; }
}
@mixin for-desktop-wide {
  @media (min-width: 1600px) { @content; }
}
@mixin aspect-ratio($ratio) { 
	&::before {
		content: "";
		float: left;
		height: 0;
		width: 0;
		padding-bottom: $ratio; /*$ratio takes a percentage relative to the width (e.g. 100% = 1:1, 75% = 4:3) */
	}
}
@mixin cut-paste {
	padding: .125em;
	position: relative;
	transform: rotate(.5deg);
	box-shadow: -1px 1px 0 0 rgba(0, 0, 0, .3);
	&:before {
		content: '';
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: rotate(-.5deg);
		z-index: -1;
	}
}
@mixin overlay() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@mixin rotate-ccw($amount) {
	transform: rotate(-$amount);
	transition-duration: .3s;
}
@mixin rotate-cw($amount) {
	transform: rotate($amount);
	transition-duration: .3s;
}
@mixin rotate-hover-ccw($amount) {
	transform: rotate(-$amount);
	transition-duration: .25s;
	&:hover {
		transform: rotate($amount);
		transition-duration: .5s;
	}
}
@mixin rotate-hover-cw($amount) {
	transform: rotate($amount);
	transition-duration: .25s;
	&:hover {
		transform: rotate(-$amount);
		transition-duration: .5s;
	}
}
@mixin cut-lines($amount, $position) {
  	padding: .375em;
	position: $position;
	transform: rotate(-$amount);
	background-color: #ffffff;
	z-index: 2;
	  &::before, &::after {
		  content: '';
		  position: absolute;
		  top: 0;
		  left: 0px;
		  right: 0;
		  bottom: 0px;
	  z-index: -1;
	  }
	  &::before {
	  	background-color: rgba(0, 0, 0, .25);
		transform: rotate($amount);
	  	box-shadow: -1px 1px -1px 0 rgba(0, 0, 0, .25);    
	  }
	  &::after {
		background-color: #ffffff;
	  }
}

@mixin cast-shadow() {
	&::before {
		content: "";
		display: block;
		position: absolute;
		bottom: -3px;
		height: 12px;
		width: 105%;
		left: -52.5%;
		margin: 0 0 0 50%;
		border-radius: 33.33%;
		/* transform: rotateX(45deg) scale(12, 1); */
		background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
		box-shadow: 0 12px 6px -6px rgba(0, 0, 0, .75);
		filter:blur(6px);
		opacity: .75;
		z-index: 0;
	}
	img {
		position: relative;
		box-shadow: 0 2px 4px -2px rgba(0,0,0,0.5);
		z-index: 100;
	}
}


/*------------------------------------------------ANIMATION----------*/

@keyframes zoomIn2 {
	0% {
		opacity: .5;
		transform: scale(.75);
    	transition-property: opacity, transform;
	}
	33% {
		opacity: 1;
        transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}
@keyframes bounceDown { 
    0% { 
		transform: rotate(0deg) scaleY(.9); 
	}
	33% {
		transform: rotate(8deg) scaleY(1.3);
	}
    100% { 
        transform: rotate(7.5deg) scaleY(1.0); 
     } 
}


/* [data-aos^='zoom'][data-aos^='zoom'] {
      opacity: 0;
      transition-property: opacity, transform;

      &.aos-animate {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
      }
    }

    [data-aos='zoom-in'] {
      transform: scale(.6);
    }
 */