{{ $counter := 0 -}}
{{- $offset := 240 }}
<div class="grid-item {{ .Params.orientation }}" {{ if .Params.theme }} style="background-color: {{ .Params.theme }};" {{ end }}>
	<a class="grid-item-content" href="{{ .Permalink }}">
		<div class="grid-item-title" data-aos="fade" data-aos-offset="120" data-aos-duration="1000">
			<h4 class="item-category">{{ range .Params.categories }} {{ . }} {{ end }}</h3>
			<h2>{{ .LinkTitle }}</h2>
			<h3>{{ .Summary }}</h4>
		</div>
		<div class="grid-item-img-wrap">
			{{ range .Params.thumbs -}}
			{{- $delay := mul $counter 120 }}
			<div class="grid-item-img aos-animate {{ .class }} {{ range $.Params.categories }} {{ . }}{{ end }}-img" data-aos="zoom-in" data-aos-offset="{{ add $offset $delay }}">
				<img src="/img/projects/{{.image }}" />
			</div>
			{{ $counter = add $counter 1 -}}
			{{- end }}
		</div>
	</a>
</div>