<ul class="contact-links">
	<li>
		<a href="mailto:{{ $.Site.Params.email }}" alt="Email" title="Email">
			<div class="social-icon">
				<svg viewBox="0 0 32 32">
					<use xlink:href="#svg-mail" />
				</svg>
			</div>
		</a>
	</li>{{ range $.Site.Params.social }}
	<li>
		<a href="{{ .url }}{{ .handle }}" alt="Connect with us on {{ .name | title }}" title="Connect with us on {{ .name | title }}">
			<div class="social-icon">
				<svg viewBox="0 0 32 32">
					<use xlink:href="#svg-{{ lower .name }}" />
				</svg>
			</div>
		</a>
	</li>{{ end }}
</ul>
